include ./star

mixin productCard(product)
  .product-card
    .product-card__image
      img(src=(product.imageUrl), alt=(product.title))
    button.product-card__title.bg-none.border-none(data-product-id=(product.id))#btn-get-details #{product.title}
    span.product-card__price #{Number(product.price).toLocaleString('en-US', {style: 'currency', currency: 'USD'})}

    div.product-card__rating(data-rating-value=(product.rating))
      - for(let i = 0; i < 5; i++) {
        + star() 
      - }

    .product-card__details
      if(displayDescription)
        span.product-card__description #{product.description}
      .product-card__timestamps
        span.product-card_timestamp-posted #{product.creationDate}
        span.product-card_timestamp-posted #{product.creationTime}
      .product-card__actions()
        button.button.buy-btn(data-product-id=(product.id))#btn-add-to-cart
          svg(viewBox="2 2 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M6.29977 5H21L19 12H7.37671M20 16H8L6 3H3M9 20C9 20.5523 8.55228 21 8 21C7.44772 21 7 20.5523 7 20C7 19.4477 7.44772 19 8 19C8.55228 19 9 19.4477 9 20ZM20 20C20 20.5523 19.5523 21 19 21C18.4477 21 18 20.5523 18 20C18 19.4477 18.4477 19 19 19C19.5523 19 20 19.4477 20 20Z")
