include ../../layout/components/star

mixin productCard(product)
  form.product-card.cabinet(action=(`/cabinet/edit-product/${product.id}`))
    .product-card__image.cabinet
      img(src=(product.imageUrl), alt=(product.title))
    a.product-card__title.cabinet #{product.title}
    span.product-card__price.cabinet #{Number(product.price).toLocaleString('en-US', {style: 'currency', currency: 'USD'})}

    div.product-card__rating.cabinet(data-rating-value=(product.rating))
      - for(let i = 0; i < 5; i++) {
        + star() 
      - }

    .product-card__details.cabinet
      if(displayDescription)
        span.product-card__description.cabinet #{product.description}
      .product-card__timestamps.cabinet
        span Created at:
        span.product-card_timestamp-posted.cabinet #{product.creationDate}
        span.product-card_timestamp-posted.cabinet #{product.creationTime}
      .product-card__timestamps.cabinet
        span Last updated:
        span.product-card_timestamp-posted.cabinet #{product.updateDate}  
        span.product-card_timestamp-posted.cabinet #{product.updateTime}
    .product-card__actions.cabinet
      button.button.edit-btn(type="submit" data-product-id=(product.id)) Edit
      button.button.delete-btn(data-product-id=(product.id)) Delete